<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo usuario</title>
</head>
<body>
    <h1> Formulario de persona</h1>
    <form th:object="${newPersona}" th:action="${accion}" method="post">
        <label>Nombre : <input type="text" th:field="*{nameUser}"/> </label><br/>
        <label>Edad : <input type="number" th:field="*{age}"/> </label><br/>
        <button type="submit">Guardar</button>
    </form>

    <a href="/personas"> Volver al Inicio</a>

</body>
</html>