<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesOne.css}" href="/stylesOne.css">

    <meta charset="UTF-8">
    <title>Listado de personas en BBDD</title>
</head>
<body>
<h1>Lista personas</h1>
<!-- Tabla para mostrar los datos de las personas -->
<table class="styled-table">
    <!-- Encabezados de la tabla -->
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <!-- Cuerpo de la tabla -->
    <tbody>
    <!-- Bucle para iterar sobre la lista de personas -->
    <tr th:each="persona : ${listpersonas}">
        <!-- Celdas con datos de cada persona -->
        <td th:text="${persona.idUser}"></td>
        <td th:text="${persona.nameUser}"></td>
        <td th:text="${persona.age}"></td>
        <td>
            <a th:href="@{/personas/editar/{idUser}(idUser=${persona.idUser})}">Edit</a>
            <a th:href="@{/personas/eliminar/{idUser}(idUser=${persona.idUser})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<!-- Enlace para agregar una nueva persona -->

<div class="enlace">
    <a href="/personas/new">Nueva Persona</a>
</div>
</body>
</html>
