<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de personas en BBDD</title>
</head>
<body>
    <h1>Lista personas</h1>
    <!-- Tabla para mostrar los datos de las personas -->
    <table style="border-collapse: separate; border-spacing: 10px;">
        <!-- Encabezados de la tabla -->
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acciones</th>
        </tr>
    </table>
    <!-- Tabla para mostrar los datos de las personas -->
    <table style="border-collapse: separate; border-spacing: 10px;">
        <!-- Bucle para iterar sobre la lista de personas -->
        <tr th:each="persona : ${listpersonas}">
            <!-- Celdas con datos de cada persona -->
            <td th:text="${persona.idUser}"></td>
            <td th:text="${persona.nameUser}"></td>
            <td th:text="${persona.age}"></td>
            <td>
                <a>Edit</a>
                <a>Delete</a>
            </td>
        </tr>

    </table>
    <!-- Enlace para agregar una nueva persona -->
    <a href="/personas/new"> nueva persona </a>
</body>
</html>